.title {
  font-size: 30px;
  font-weight: bold;
  color: slateblue;
  text-shadow: 1px 1px 2px rgb(54, 54, 54);
  margin-top: 20px;
}

.mybtn {
  width: 100px;
  background-color: rgb(147, 209, 147);
}
